{% extends 'index.html' %}
{% load static %}

{% block title %}
    Reservar Quartos
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/addcolaborador.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <h2>Reservar Quartos</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">RESERVAR</button>
    </form>
</div>


{% block scripts %}
    <script src="{% static 'js/NAV.js' %}"></script>
    <script src="{% static 'js/addcolaborador.js' %}"></script>
{% endblock %}

{% endblock %}